<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Summer 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">IRLAB, DA-IICT
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>Evaluating performance of Deep Learning Language Models on Multi-lingual text classification task datasets</li>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Mining Intern</h3>
                            <div class="time">Summer 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Kamkaaj Solutions
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>Crawled the data related to job portals from different websites</li>
                      <li>Pre-processed the data and stored in json format</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">2018 - 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Dhirubhai Ambani Institute of Information and Communication Technology
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Courses: Enterprise Computing, System Software</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Teaching Assistant</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University                        
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Courses: Data Structures and Algorithms, Discrete Mathematics </li>                      
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
