<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Aggression Detection</h3>
                <div class="time">Jan 2019 - Apr 2019</div>
            </div><!--//upper-row-->
            <div class="company">Dhirubhai Ambani Institute of Information and
Communication Technology
              <br>Advisor: Dr. Prasenjit Majumder
              <br>Team Size: 2
            </div>
        </div><!--//meta-->
        <div class="details">

            <li>Applied machine learning techniques</li>
            <li>Used Google BERT language model to improve evaluation metrics</li>
        </div><!--//details-->
    </div><!--//item-->
    
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Connectionist Temporal Classification for Speech Recognition</h3>
                <div class="time">Jan 2019 - Apr 2019</div>
            </div><!--//upper-row-->
            <div class="company">Dhirubhai Ambani Institute of Information and
Communication Technology
              <br>Advisor: Dr. Hemant Patil
            </div>
        </div><!--//meta-->
        <div class="details">

            <li>Labelled unsegmented sequence data with Recurrent Neural Network and best path decoding technique</li>
        </div><!--//details-->  
    </div><!--//item-->
    
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                 <h3 class="job-title"><a href="https://drive.google.com/open?id=0B03F1XpVcsmPYWJRMUg4aGMydzA">In-house video sharing</a></h3>
                <div class="time">Jan 2017 - May 2017</div>
            </div><!--//upper-row-->
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
              <br>Advisor: Dr. Sanjay Chaudhary
            </div>
        </div><!--//meta-->
        <div class="details">
            To reduce usage of internet bandwidth caused by excessive downloading or streaming
of same video files inside a college campus.
          <li>Deployed jsp/servlet application to store and stream videos</li>
        </div><!--//details-->
    </div><!--//item-->
        
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Fileshook - A distributed files storage service</h3>
                <div class="time">Sep 2016 - Dec 2016</div>
            </div><!--//upper-row-->
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
              <br>Advisor: Dr. Sanjay Chaudhary
              <br>Team Size: 4
            </div>
        </div><!--//meta-->
        <div class="details">

            <li>Developed a Software as a Service application</li>
            <li>Stored and Managed files in Hadoop cluster hosted on XenServer</li>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
